{% extends "layout.njk" %}

{% block content %}
<h3>Choose your category</h3>

<ul>
  <li><a class = "homeList" href=/categories/films>Film</a></li>
  <li><a class = "homeList" href=/categories/people>People</a></li>
  <li><a class = "homeList" href=/categories/planets>Planets</a></li>
  <li><a class = "homeList" href=/categories/species/>Species</a></li>
  <li><a class = "homeList" href=/categories/starships/>Starships</a></li>
  <li><a class = "homeList" href=/categories/vehicles>Vehicles</a></li>
</ul>

{% endblock %}
