<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
   <div class="header">
      <h2>
        <a href="/"><img src="/photo/Star_Wars-Logo.wine.svg" alt = "Logo star wars" class="image-cropper">
        </a>
      </h2>
    </div>
    {% block content %}{% endblock %}
    <div class="footer">
      <h5><a> MAY THE FORCE BE WITH YOU </a></h5>
    </div>
  </body>
</html>
